:root {
  --glass-color: rgb(40, 40, 80);
  --glass-color-semi-transparent: rgba(40, 40, 80, 0.5);
  --glass-color-transparent: rgba(40, 40, 80, 0.2);
  --background-color: white;
  --text-color: black;
}

html {
  animation-name: blurry-introduction;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

html body {

  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  font-family: Arial;
  background-color: var(--background-color);
}

header {
  z-index: 10;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto;
  top: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  margin: 0;
  background-color: var(--glass-color-transparent);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  box-shadow: 0 0 10px 0 var(--glass-color-transparent) inset;
  font-size: 10px;
  text-align: left;
  padding: 5px 10px;
}

#content-container {
  margin: 200px 0 0 0 ;
}

#toggles-container {
  margin: 0 20px;
  gap: 10px;
}

.toggle-button {
  border-width: 0px;
  background-color: var(--glass-color-transparent);
  backdrop-filter: blur(6.7px);
  box-shadow: 0 0 10px 0 var(--glass-color-transparent) inset;
  -webkit-backdrop-filter: blur(6.7px);
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

#module-object-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.module-link {
  background-color: var(--glass-color-transparent);
  backdrop-filter: blur(6.7px);
  box-shadow: 0 0 10px 0 var(--glass-color-transparent) inset;
  -webkit-backdrop-filter: blur(6.7px);
  border-radius: 5px;
  padding: 10px;
  margin: 4px 10px;
  width: auto;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  transition: all 1s ease-out;
  border-width: 0;
}

.module-link:hover {
  padding: 15px 10px;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

#modules-container {
  width: 300px;
  right: 0;
  top: 0;
  position: fixed;
  margin: 60px 0;
}

.module-container {
  background-color: var(--glass-color-transparent);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  box-shadow: 0 0 10px 0 var(--glass-color-transparent) inset;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 5px 10px 5px;
}

@keyframes blurry-introduction {
  0% {
    filter: blur(20px);
  }
  25% {
    filter: blur(100px);
  }
  100% {
    filter: blur(0px);
  }
}