:root {
  --glass-color: rgb(40, 40, 80);
  --glass-color-semi-transparent: rgba(40, 40, 80, 0.5);
  --glass-color-transparent: rgba(40, 40, 80, 0.2);
  --background-color: white;
}

html body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial;
  background-color: white;
}

header {
  z-index: 10;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto;
  top: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  margin: 0;
  background-color: var(--glass-color-transparent);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  box-shadow: 0 0 10px 0 var(--glass-color-transparent) inset;
  font-size: 10px;
  text-align: left;
  padding: 5px 10px;
}

#header-text {
}

#toggles-container {
  margin: 0 20px;
  gap: 10px;
}

.toggle-button {
  border-width: 0px;
  background-color: var(--glass-color-transparent);
  backdrop-filter: blur(6.7px);
  box-shadow: 0 0 10px 0 var(--glass-color-transparent) inset;
  -webkit-backdrop-filter: blur(6.7px);
  border-radius: 5px;
  height: 40px;
  width: 40px;
}

/*temporaire*/
#modules-container {
  width: 300px;
  right: 0;
  position: fixed;
  margin: 40px 0;
}

.module-container {
  background-color: var(--glass-color-transparent);
  backdrop-filter: blur(6.7px);
  -webkit-backdrop-filter: blur(6.7px);
  box-shadow: 0 0 10px 0 var(--glass-color-transparent) inset;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}